<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#input-file").on('change', function(){
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                    $('#img-content').attr('src', e.target.result);
                }
              reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>
<body>
    <div class="container">

        <div id="navigator">
            <div id="profile">
                <div id="name"><b><%=user.nickname%></b></div>
                <div id="following">
                    <div><b>Following</b></div>
                    <div><%=user.dataValues.Followings.length || 0%></div>
                </div>
                <div id="follower">
                    <div><b>Follower</b></div>
                    <div><%=user.dataValues.Followers.length || 0%></div>
                </div>
                <div id="wrapper">
                    <a class="btn">My profile</a>
                    <a class="btn" href="/auth/logout" >Log out</a>
                </div>
            </div>
            <div id="post">
                <form id="post-form" action="/post/uploads_post" method="post" enctype="multipart/form-data">
                    <div id="textarea"><textarea name="content" maxlength=140></textarea></div>
                    <div id="upload-image">
                        <span id="img-wrapper">
                            <input name="img" id="input-file" type="file" accept="image/*" style="color: white;"/>
                            <button id="img-btn" type="submit">Post</button>
                        </span>
                        <img id="img-content" class="img" src="" required/>
                    </div>
                </form>
            </div>
        </div>

        <div id="content">  
            <div id="hashtag">
                <form action="/post/hashtag">
                    <input id="hashtag-txt" type="text" name="hashtag" placeholder="Search tag"/>
                    <button id="hashtag-btn">search</button>
                </form>
            </div>
            <% for ( post of posts ) { %>
                <div class="text">
                    <div class="text-name"><%=post.dataValues.user.dataValues.nickname%></div>
                    <% if(!(post.dataValues.user.dataValues.nickname === user.nickname)) { %>
                        <div class="btn-wrapper">
                            <input class="followed-user-id" type="hidden" value="<%=post.dataValues.user.dataValues.id%>"/>
                            <input class="my-id" type="hidden" value="<%=user.id%>"/>
                            <button class="follow-btn">follow</button>
                        </div>
                    <% } %>
                    <div id="post-content"><%=post.dataValues.content%></div>  
                    <% if (post.dataValues.img) { %>
                        <div id="post-img">
                            <img class="content-img" src="<%=post.dataValues.img%>" alt="thumbnail"/>
                        </div>
                    <% } %>  
                </div>
            <% } %>
        </div>
    </div>

    <script>
        [].forEach.call(document.querySelectorAll('.follow-btn'), function(btn) {
            btn.addEventListener('click', function() {
                var followedUserId = btn.parentNode.querySelector('.followed-user-id').value;
                var myId = btn.parentNode.querySelector('.my-id').value; 
                if (confirm("Do you want to follow?") ) {
                    var xhr = new XMLHttpRequest();
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            location.reload();
                        } else {
                            console.error(xhr.responseText);
                        }
                    };
                    xhr.open('POST', `/user/${followedUserId}/follow`);
                    xhr.send();
                }
            });
        });
    </script>

</body> 